
body{
    // // 加上overflow-y: scroll;自定义滚动条(高版本浏览器支持)
	// ::-webkit-scrollbar {
	// 	width: 8px;
	// 	height: 8px;
	// 	background-color: transparent;
	// }
	// ::-webkit-scrollbar-track {
	// 	-webkit-box-shadow: inset 0 0 6px #333;
	// 	border-radius: 4px;
	// }
	// ::-webkit-scrollbar-thumb {
	// 	border-radius: 4px;
	// 	-webkit-box-shadow: inset 0 0 6px #333;
	// 	background-color: #fff;
	// }
}